.banner-bg {
    background-image: url('../images/common-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-img {
    padding-left: 5vw;
}

.btn-to-admin {
    margin-top: 8vh;
    width: 60%;
    height: 10vh;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border: none;
}