.create-order {
    position: absolute;
    top: 1vw;
    width: 98%;
    left: 1%;
    z-index: 20;
    background-color: #fff;
    box-shadow: 4px 4px 11px 3px rgb(148 148 148 / 60%);
    display: none;
    /*max-height: 46vw;*/
    /*overflow: auto;*/
}

#search-input {
    width: 80%;
    height: 2.5vw;
    border: 1px solid #555;
    padding: 4px 8px 0px 8px;
}

hr {
    margin-top: .3rem;
    margin-bottom: .5rem;
}

.final-bill {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    display: none;
}