#status-area {
    position: absolute;
    top: 5vw;
    /*text-align: center;*/
    width: 50vw;
    margin-left: 25vw;
    z-index: 100;
}

.all-products-list {
    display: none;
}

.add-product {
    display: none;
}

.big-btn-lst-prod {
    width: 60%;
    border-radius: 0px;
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-decoration: none;
    color: #fff;
    box-shadow: 4px 4px 11px 3px rgb(148 148 148 / 60%);
}

.big-btn-add-prod {
    width: 60%;
    border-radius: 0px;
    background: #606c88;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f4c6b, #606c88);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-decoration: none;
    color: #fff;
    box-shadow: 4px 4px 11px 3px rgb(148 148 148 / 60%);
}

.big-btn-lst-prod:hover {
    color: #fff;
}

.big-btn-add-prod:hover {
    color: #fff;
}